.pro-sidebar {
    height: 100vh;
}

.pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
}

.pro-sidebar-inner {
    background-color: rgb(54, 74, 85) !important;
}

.pro-inner-list-item {
    background-color: rgb(67, 93, 104) !important;
}


#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    color: rgba(74, 109, 206, 0.97);
    border-radius: 3px;
    background-color: whitesmoke;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: rgb(33, 185, 33);
}

#header .pro-sidebar-inner .pro-sidebar-layout .mylink {
    color: whitesmoke;
}

#header .pro-sidebar-inner .pro-sidebar-layout {
    color: whitesmoke;
}

@media only screen and (max-width: 720px) {
    html {
        overflow: hidden;
    }
}