.header {
  background-color: rgb(220, 243, 217);
}

.side_toggle {
  cursor: pointer;
  margin: -6px 5px;
  font-size: 27px;
  color: rgb(58, 14, 29);
}

.mnj {
  width: 100%;
}

.myPointer {
  cursor: pointer;
}

.my_icon {
  cursor: pointer;
  font-size: 20px;
}

.my_icon:hover {
  font-size: 22px;
}

.headerlink {
  text-decoration: none;
  color: rgb(124, 15, 15);
  font-size: 25px;
  font-weight: 500;
}

.mylink {
  color: whitesmoke;
  text-decoration: none;
}

.mylink.active {
  color: rgba(226, 140, 82, 0.97) !important;
  font-weight: 600;
}

.headerlink :hover {
  color: rgb(146, 38, 38) !important;
  font-weight: 520;
}


.image_setting{
  padding: 0 15%;
}